<h3><%= @volunteer.name %></h3>
<hr>

<form action="/volunteer/<%= @volunteer.id %>" method ="post">
  <input name="_method" type="hidden" value="patch">
  <label for "name">Rename:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
<hr>


<form action="/volunteer/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Volunteer</button>
</form>
